<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grocery list</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div>
        <img src="https://raw.githubusercontent.com/MariyaSha/groceriesList/main/logo_black.png" alt="grocery app logo">
    </div>
    <div id="remove_items">
        <form action="/remove_items" method="post">
            {% for item in shopping_items %}
            <input type="checkbox" name="check" id="{{ item }}" value="{{ item }}">
            <label for="{{ item }}">{{ item }}</label><br>
            {% endfor %}
            <input type="submit" value="REMOVE ITEMS" id="remove_btn">
        </form>
    </div>

    <div id="add_item">
        <form action="/add_items" method="post">
            <select name="select_items">
                {% for item in all_items %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="ADD ITEM" id="add_btn">
        </form>
    </div>
</body>
</html>